header{
    background-color: #FFBCBC;
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 80px;
    padding-top: 5px;
    border-radius: 25%;
}
footer a{
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: #1B2065;
}
footer p{
    font-size: 1.2em;
}
footer .social img{
    padding-top: 15px;
}
footer p a:hover{
    text-decoration: underline;
}
footer{
    background-color: #FFBCBC;
    font-family: "Playfair Display", arial, sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: #12547d;
    text-decoration: none;
    font-family: "agbalumo", arial, serif;
    font-size: 1.5em;
    padding: 35px;
}
nav a:hover{
    background-color: #633877;
    color: white;
}
.before {
    grid-column: 2/4;  
    text-align: center;
    font-family: "agbalumo", arial, serif;
    color: white;
}
.content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    display: grid;
    width: 80%;
    margin: 0 auto;    
    background-color: #1B2065 ;     
    grid-row: 1/6;
    grid-column: 1/4;
}
.yarnimg {
    grid-row: 5/7;
    grid-column: 2/3;
    margin: 0 auto;
}
.abbreviation {
    grid-column: 2/3;     
    grid-column: 2/3;
    font-family: "agbalumo", arial, serif;
    color: white;
    margin-bottom: 0;
    vertical-align: bottom;
}
.contwpic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 20% 20% 20% 20% 20%;
}
.yarn {
    grid-column: 3/4;
    grid-row: 3/4;   
    margin-top: 0; 
    font-family: "playfair", Helvetica, sans-serif;
    color: white;
}
.abbreviate {
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 0em auto 6em 0;
    font-family: "playfair", Helvetica, sans-serif;
    color: white;
}
.recommend {
    grid-column: 3/4;
    grid-row: 2/3;
    font-family: "agbalumo", arial, serif;
    color: white;
}
.me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 20%;
    border: 5px solid #633877 ;
}
.welcome {
    text-align: center;
    font-family: "agbalumo", arial, serif;
    color: #1B2065;
    font-size: 3em;
}
.thank {
    text-align: center;
    font-family: "playfair", Helvetica, sans-serif;
    color: #1B2065;
    font-size: 1.5em;
}
.reals {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 25%;
}
.title {
    text-align: center;
    font-family: "agbalumo", arial, serif;
    color:#1B2065;
    font-size: 2.5em;
}
.instructionss {
    margin-left: 20%;
    font-family: "agbalumo", arial, serif;
    color: #FEF65E;
}
.bodys {
    margin-left: 25%;
    font-family: "agbalumo", arial, serif;
    font-size: 1.2em;
    color: #FEF65E;
}
.tails {
    margin-left: 25%;
    font-family: "agbalumo", arial, serif;
    font-size: 1.2em;
    color: #FEF65E;
}
.earss {
    margin-left: 25%;
    font-family: "agbalumo", arial, serif;
    font-size: 1.2em;
    color: #FEF65E;
}
.instruct {
    margin-left: 28%;
    margin-right: 28%;
    font-family: "playfair", Helvetica, sans-serif;
    color: #FEF65E;
}
.finishs {
    text-align: center;
    color: #FEF65E;
}
.dones {
    text-align: center;
    color: #FEF65E;
}
.puppets {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-bottom: 3%;
}
.patterns {
    background-color:#633877;
    margin: 3% 20% 3% 20%;
    padding-top: 3%;
    padding-bottom: 3%;
}
form {
    display: inline-block;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    margin: 3% auto auto auto;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  #demo {
    color:#1B2065;
  }
  .demoround {
    color:#1B2065;
  }
  label {
    /* Uniform size & alignment */
    display: inline-block;
    min-width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.slidertext {
    text-align: center;
    font-size: 2em;
    font-family: "agbalumo", arial, serif;
    color: #1B2065;
  }
.moveDown {
    margin-top: 3em;
}
.slidecontainer {
    width: 50%; /* Width of the outside container */
    margin: auto;
  }
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:#633877;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:#633877;
    cursor: pointer;
  }
  .patternimg {
    display: grid;
    grid-template-columns: auto 60%;
    grid-template-rows: auto auto;
  }
  .backgroundone{
    background-color:#1B2065;
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 7%;
    margin-right: 20%;
  }
  .realduck {
    display: block;
    margin: 0 auto;
    width: 60%;
    margin-top: 11%;
  }
  .titled {
    grid-row: 2/3;
    text-align: center;
    font-size: 3em;
  }
.patternd {
    background-color:#1B2065;
    margin-right: 20%;
    margin-left: 15%;
}
.bill {
    margin-left: 25%;
    margin-top: 0;
    padding-top: 5%;
    margin-left: 7%;
    font-family: "agbalumo", arial, serif;
    font-size: 1.2em;
    color:white;
}
.wings {
    margin-left: 7%;
    font-family: "agbalumo", arial, serif;
    font-size: 1.2em;
    color:white;
}
.taild {
    margin-left: 7%;
    margin-right: 28%;
    font-family: "playfair", Helvetica, sans-serif;
    color:white;
}
.finishd {
    text-align: center;
    color:white;
}
.doned {
    text-align: center;
    color:white;
    padding-bottom: 9%; 
    padding-top: 5%;   
}
.instructionsd {
    margin-left: 20%;
    font-family: "agbalumo", arial, serif;
    color:white;
    margin-right: 15%;
}
.puppetd {
    display: block;
    width: 20%;
    margin: 0 auto;
    margin-top: 5%;
}
.instructd {
    margin-left: 7%;
    font-family: "agbalumo", arial, serif;
    color:white;
}