header{
    background-color: #FFBCBC;
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 80px;
    padding-top: 5px;
    border-radius: 25%;
}
footer a{
    color: black;
    text-decoration: none;
}
footer a:hover{
    color: #1B2065;
}
footer p{
    font-size: 1.2em;
}
footer .social img{
    padding-top: 15px;
}
footer p a:hover{
    text-decoration: underline;
}
footer{
    background-color: #FFBCBC;
    font-family: "Playfair Display", arial, sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: #12547d;
    text-decoration: none;
    font-family: "agbalumo", arial, serif;
    font-size: 1.5em;
    padding: 35px;
}
nav a:hover{
    background-color: #633877;
    color: white;
}
.before {
    grid-column: 2/4;  
    text-align: center;
    font-family: "agbalumo", arial, serif;
    color: white;
}
.content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    width: 80%;
    margin: 0 auto;    
    background-color: #1B2065 ;     
    grid-row: 1/6;
    grid-column: 1/4;
}
.yarnimg {
    grid-row: 5/7;
    grid-column: 2/3;
    margin: 0 auto;
}
.abbreviation {
    grid-column: 2/3;     
    grid-column: 2/3;
    font-family: "agbalumo", arial, serif;
    color: white;
}
.contwpic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 20% 20% 20% 20% 20%;
}
.yarn {
    grid-column: 3/4;
    grid-row: 3/4;   
    margin-top: 0; 
    font-family: "playfair", Helvetica, sans-serif;
    color: white;
}
.abbreviate {
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 0em auto 6em 0;
    font-family: "playfair", Helvetica, sans-serif;
    color: white;
}
.recommend {
    grid-column: 3/4;
    grid-row: 2/3;
    font-family: "agbalumo", arial, serif;
    color: white;
}
.me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 20%;
    border: 5px solid #633877 ;
}
.welcome {
    text-align: center;
    font-family: "agbalumo", arial, serif;
    color: #1B2065;
    font-size: 3em;
}
.thank {
    text-align: center;
    font-family: "playfair", Helvetica, sans-serif;
    color: #1B2065;
    font-size: 1.5em;
}